/*채팅 들어있는 박스 하나->이걸로 세로길이 조정 */
#chat-box {
  overflow: auto;
  height: 70vh;
}

#receivedMsg {
  display: inline-block;
  padding: 0 0 0 10px;
  vertical-align: top;
  width: 92%;
}

/* 말풍선 하나 */
#receivedWithdMsgData {
  background: #ebebeb scroll;
  border-radius: 6px;
  color: #2e2c2c;
  font-size: 14px;
  padding: 15px;
  width: 95%;
}
#sendMsgData {
  background: #4249b3 scroll;
  border-radius: 6px;
  font-size: 14px;
  /* margin-right: auto; */
  color: #fff;
  padding: 15px;
  width: 95%;
}
#chatting-info{
  display: flex;
  /* flex-direction: column; */
}
/* 작성시간 */
#timeDate {
  color: #7b7a7a;
  /* display: flex; */
  font-size: 5px;
  width: 60%;
  background-color: white;
}

#writername{
  align-self: self-end;
  color: #7b7a7a;
  font-size: 5px;
  width: 40%;
}
/* 말풍선가로길이 */
#receivedWithdMsg {
  width: 65%;
  margin-bottom: 16px;
}

#outgoingMsg {
  overflow: hidden;
  margin: 26px 0 26px;
}

#sendMsg {
  float: right;
  width: 60%;
}

#chat-outgoing-msg {
  background: none;
  border: medium none;
  color: #4c4c4c;
  font-size: 15px;
  min-height: 48px;
  width: 86%;
  padding: 10px;
}
/* 메시지 작성부분 */
#typeMsg {
  border-top: 2px solid #c4c4c4;
  position: relative;
  border-top: solid 1px rgb(184, 184, 184);
  :focus {
    outline: none;
  }
}
/* 메시지 전송버튼 */
#chat-send {
  background: #4249b3;
  border: medium none;
  border-radius: 50%;
  color: #fff;
  cursor: pointer;
  font-size: 20px;
  width: 40px;
  height: 40px;
  position: absolute;
  right: 10px;
  top: 4px;
}

#chat-send-icon {
  margin-top: 4px;
}