.base {
    width: 7rem;
    height: 1.5rem;
    border-radius: 1rem;
    margin: 10px;
    padding-bottom: 15px;
    border : solid black 1px;
    font-size: 0.5rem;
    align-self: last baseline;
}
  
.base:hover{
    background-color: white;
}
/* TODO: adjust styles according to design requirements */
.regular {
    background-color: purple;
}

/* TODO: adjust styles according to design requirements */
.prominent {
    background-color: skyblue;
}
