.dialog {
  z-index: 10;
  border-radius: 1.5rem;
  border: none;
  top: 50%;
  left: 50%;
  width: 70rem;
  height: 50rem;
  transform: translate(-50%, -50%);
}

.inner {
  display: flex;
  flex-direction: column;
  gap: 1em;
  padding: 1em;
  gap: 1em;
}

.dialog::backdrop {
  background-color: rgba(0, 0, 0, 0.5);
}

.close {
  /* font-size: 8rem;
  position: absolute; */
  all: unset;
  cursor: pointer;
  --size: 1.5rem;
  font-size: var(--size);
  box-sizing: border-box;
  text-align: center;
  width: calc(var(--size) * 1.5);
  height: calc(var(--size) * 1.5);
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  border-radius: 100%;
  align-self: flex-end;
}

.close:hover {
  background-color: rgba(0, 0, 0, 0.75);
}

a {
  display: block;
  height: 2rem;
}

dialog::-webkit-scrollbar {
  width: 8px;  /* 스크롤바의 너비 */
 
}

dialog::-webkit-scrollbar-thumb {
  height: 20%; /* 스크롤바의 길이 */
  background: #217af4; /* 스크롤바의 색상 */
  border-radius: 2rem;
  overflow: scroll;
}

dialog::-webkit-scrollbar-track {
  background: rgba(33, 122, 244, .1);  /*스크롤바 뒷 배경 색상*/
}

dialog::-webkit-scrollbar-thumb:hover {
  background: black;
}

.sidebar.close > .copy-sub > .sub-menu::-webkit-scrollbar-button:vertical:start:decrement,
.sidebar.close > .copy-sub > .sub-menu::-webkit-scrollbar-button:vertical:start:increment {
    display: block;
    height: 25px;
}

/* 만일 스크롤바 트랙 아래쪽도 여백 공간을 주고 싶다면 ... */
.sidebar.close > .copy-sub > .sub-menu::-webkit-scrollbar-button:vertical:end:decrement {
    display: block;
    width: 25px;
}

dialog::-webkit-scrollbar-corner {
	background: transparent;
}