.container {
  width: 100rem;
  height: 80rem;
  z-index: 10;
  background-color: white;
  position: absolute;
  top: 80%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 1.5rem;
}

.close{
  font-size: 8rem;
  position: absolute;
  
}