*{
  appearance : none;
  text-decoration: none;
  margin:0;
  padding:0;
  box-sizing: border-box;
}





.navBar{
    display: flex;
    align-items: center;
    height: 60px;
    padding: 0 20px;
    color: white;
    font-size: 20px;
    font-weight: 500;
    margin-top: 10px;
    margin-bottom: 40px;
}

.logoPng {
  width: 100px; /* 원하는 크기로 조절해보세요 */
  height: auto; /* 자동으로 높이 조절 */
}

.navItemContainer{
    display: flex;
    /* justify-content: space-between; */
    align-items: center;
    width: 100%;
}

.navItem{
  color: white;
  text-decoration: none;
  background-color: transparent;
}

.avatarPng{
  width: 5rem;
  height: 5rem;
  /* margin-top: 25px; */
}

.searchContainer{
  display: flex;
  align-items: center;
  justify-content: flex-end;
  width: 100%;
  margin-top: 20px;
}

.menuItems{
  display: flex;
  justify-content: row;
}