*{
  appearance : none;
  text-decoration: none;
  margin:0;
  padding:0;
  box-sizing: border-box;
}





.navBar{
    display: flex;

    align-items: center;
    height: 60px;
    padding: 0 20px;
    color: white;
    font-size: 20px;
    font-weight: 500;
   
}

.logoPng {
  margin-top : 25px;
  width: 20rem;
  height: 10rem;
}

.navItemContainer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.navItem{
  color: white;
  text-decoration: none;
  background-color: transparent;
}

.avatarPng{
  width: 5rem;
  height: 5rem;
  margin-top: 25px;
}

