.authPage {
  background-color: rgba(201, 231, 252, 0.707);
  height: 600px;
  width: 600px;
  margin: 20px;
  /* display: flex; */
}
.userChar {
  padding: 70px 10px;
  border: solid 1px black;
}
.userIcon {
  flex: 3;
}
.userSymbol {
  flex: 7;
}
.authPageUsername {
  display: flex;
}
.authPageEmail {
  display: flex;
}
.userCharIdLvSym {
  display: flex;
  justify-content: space-around;
}
