


.symbolSection{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 1rem;
}

.profileNickname{
  font-size: 2rem;
  font-weight: 700;
  margin: 10px;
}
/* 
.acquiredSymbols{
  font-size: 1.5rem;
  color: white;
  font-weight: 700;
} */

.memberIntro{
  background-color: white;
  width: 50rem;
  height: 5rem;
  margin: 10px;
  border-radius: 1.5rem;
}

.character{
  display: flex;
  align-items: center;
}

.profileNicknameAndLevel{
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.levelSeparator{
  margin: 0 0.5rem;
  color: gray;
}

.level{
  font-size: 1.5rem;
  font-weight: 500;
  margin: 10px;
}

.userSymbolList{
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 2rem;
}