* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  align-items: center;
}
.latestChat {
  width: 100rem;
}
.droplet {
  width: 2.5rem;
  height: 4rem;
}
.latestMent {
  color: white;
  font-weight: 700;
  font-family: Pretendard;
  align-self: start;
  font-size: 3.5rem;
  font-weight: 700;
  margin-left: 4rem;
  margin-top: 5rem;
  margin-bottom: 6rem;
}

.oldChat {
  width: 100rem;
}

.types {
  align-self: flex-start;
  display: flex;
  flex-direction: row;
  margin-top: 3rem;
  margin-left: 7rem;
  width: 100rem;
}

.type {
  margin: 10px;
  font-size: 2rem;
  width: 8rem;
  height: 5rem;
  text-align: center;
  line-height: 5rem;
}

.type:hover {
  cursor: pointer;
  font-weight: 700;
  background-color: white;
  border-radius: 1rem;
}

/* TODO : 모달 띄워질 경우 배경 어둡게 처리하기 */
.containerInvalid {
  /* box-shadow : rgba(0,0,0,0.5) 0 0 0 9999px;
  background: rgba(0, 0, 0, 0.5); */
  z-index: 999;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  align-items: center;
}

.buttonContainer {
  display: flex;
  gap: 77em;
}

.createRoom {
  --button-color: azure;
  width: 5rem;
  height: 5rem;
  border-radius: 100%;
  border: white solid 2px;
  cursor: pointer;
  font-size: 4rem;
  text-align: center;
  margin-top: 50px;
  margin-bottom: 50px;
  position: sticky;
}

.createRoom:hover {
  background-color: rgb(46, 71, 102);
  color: white;
}
