.feedPage {
  /* position: absolute;
  left: 50%;
  transform: translateX(-50%);
  width: 900px; */
  display: flex;
  align-items: center;
  flex-direction: column;
}

.feedListSection {
  /* flex: 6; */
  /* display: flex;
  align-items: center; */
}
.feedWriteSection {
  /* flex: 4; */
  /* display: flex;
  align-items: center; */
}
.latestChat {
  width: 100rem;
}
.droplet {
  width: 2.5rem;
  height: 4rem;
}
.feedMent {
  color: white;
  font-weight: 70;
  font-family: Pretendard;
  /* align-self: start; */
  font-size: 3rem;
  font-weight: 700;
  margin: 20px 60px;
}
.feedCategories {
  align-self: flex-start;
  display: flex;
  flex-direction: row;
  margin: 20px 70px;
  width: 100rem;
}
.feedCategory {
  margin: 10px;
  font-size: 2rem;
  width: 8rem;
  height: 5rem;
  text-align: center;
  line-height: 5rem;
}
.feedCategory:hover {
  cursor: pointer;
  font-weight: 700;
  background-color: white;
  border-radius: 1rem;
}
.feedCards {
  display: flex;
  flex-direction: column;
  align-items: center;
}
