.container {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.infoText {
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 10px;
}
.nicknameImg {
  width: 400px;
  height: 400px;
}
.infoTextDetail {
  padding: 10px;
  font-size: 55px;
}
.infoTextDetailSmall {
  padding: 10px;
  font-size: 30px;
}

.nicknameInput {
  width: 300px;
  padding: 13px;
  border-radius: 20px;
  border: none;
  &:focus {
    outline: none;
  }
  margin-right: 5px;
}
.nicknameCheckBtn {
  padding: 10px;
  border-radius: 20px;
  font-weight: bold;
  border: none;
  &:focus {
    outline: none;
  }
  &:hover{
    background-color: #676fdd;
    color: #ecf0f4;
  }
}


.nicknameCheckBtnDisable{
  padding: 10px;
  border-radius: 20px;
  border: none;
  
}
.enterBtn {
  width: 150px;
  height: 50px;
  margin: 30px;
  padding: 10px;
  color: #4b4c4d;
  background-color: #ffef8a;
  border-radius: 20px;
  font-size: 17px;
  cursor: pointer;
  font-weight: bold;
  border: none;
  &:focus {
    outline: none;
  }
  /* &:hover{
    background-color: #FFF08A;
    color: #4b4c4d;
  } */
}
.enterBtnDisabled{
  width: 150px;
  height: 50px;
  margin: 30px;
  padding: 10px;
  color: #4b4c4d;
  background-color: #ffef8ac6;
  border-radius: 20px;
  font-size: 17px;
  cursor: pointer;
  font-weight: bold;
  border: none;
}
