/* body {
  height: 100%;
} */

.bubblechatuser {
  border-bottom: 1px solid #716d6d;
  padding: 10px;
  width: 95%;
}

.userData {
  background-color: #f8f9fa !important;
  border-top: 5px solid #716d6d;
  max-height: calc(100vh);
}

.profileName {
  background-color: #f8f9fa !important;
  width: 100%;
  padding: 10px;
  border-bottom: 5px solid #716d6d;
}
/*채팅 들어있는 박스 하나->이걸로 세로길이 조정 */
.containerFluidChatSection {
  overflow: auto;
  height: 450px;
}
.user a:hover {
  text-decoration: none;
  color: #212529;
}

.user a {
  color: #212529;
}

.chatSection {
  padding-top: 15px;
}

.incomingMsgImg {
  display: inline-block;
  width: 6%;
}

.receivedMsg {
  display: inline-block;
  padding: 0 0 0 10px;
  vertical-align: top;
  width: 92%;
}

/* 말풍선 하나 */
.receivedWithdMsgData {
  background: #ebebeb none repeat scroll 0 0;
  border-radius: 6px;
  color: #2e2c2c;
  font-size: 13px;

  padding: 5px 10px 5px 12px;
  width: 100%;
}
.sendMsgData {
  background: #4249b3 none repeat scroll 0 0;
  border-radius: 6px;
  font-size: 13px;

  color: #fff;
  padding: 5px 10px 5px 12px;
  width: 100%;
}
/* 작성시간 */
.timeDate {
  color: #0d0d0d;
  display: block;
  font-size: 10px;
  margin: 8px 0 0;
  background-color: white;
}
/* 말풍선가로길이 */
.receivedWithdMsg {
  width: 65%;
  margin-bottom: 16px;
}

.mesgs {
  float: left;
  padding: 30px 15px 0 25px;
  width: 60%;
}

.outgoingMsg {
  overflow: hidden;
  margin: 26px 0 26px;
}

.sendMsg {
  float: right;
  width: 60%;
}

.inputMsgWrite input {
  background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
  border: medium none;
  color: #4c4c4c;
  font-size: 15px;
  min-height: 48px;
  width: 100%;
  padding: 10px;
}
/* 메시지 작성부분 */
.typeMsg {
  border-top: 1px solid #c4c4c4;
  position: relative;
}
/* 메시지 전송버튼 */
.msgSendBtn {
  background: #05728f none repeat scroll 0 0;
  border: medium none;
  border-radius: 50%;
  color: #fff;
  cursor: pointer;
  font-size: 17px;
  height: 33px;
  position: absolute;
  right: 0;
  top: 11px;
  width: 33px;
}

.messaging {
  padding: 0 0 50px 0;
}

.msgHistory {
  height: 516px;
  overflow-y: auto;
}
