.container {
  border: none;
}
/* 1.가장 큰 페이지 */
.videoPage {
  display: flex;
}
/* 2왼쪽 리모컨 */
.sessionNav {
  display: flex;
  /* flex-direction: column; */

  flex: 0.2;
  justify-content: space-evenly;
}
/* 그룹방 제목 */
.sessionTitle {
  display: inline-block;
}
/* 메인 화면 */
.sessionMain {
  flex: 7;
  margin: 10px;
  background-color: white;
  border-radius: 10px;
  flex-wrap: wrap;
  display: flex;
  justify-content: flex-start;
}
.sessionRight {
  flex: 3;
  display: flex;
  flex-direction: column;
  height: 80%;
}
.sessionChat {
  background-color: white;
  margin: 10px;
  font-size: large;
  border-radius: 10px;
  flex: 9.8;
  overflow: auto;
  height: 20%;
  padding: 10px;
}
/* 2-1-1. 버튼 */
.controlBtn,
.switchBtn {
  /* float: right; */
  height: 60px;
  margin: 10px;
  width: 47%;
  background-color: white;
  border-radius: 10px;
  border: none;
}

.icon{
  height: 30px;
  width: 30px;
}

/* 3. 사용자 화면들 모아놓은 section */

/* 3-1. 참가자들 화면 하나 */
.streamContainer {
  padding: 20px;
  width: 33%;
  height: 50%;
}
.vertical-center {
  position: absolute;
  top: 56%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.openvidu-logo {
  height: 35px;
  float: right;
  margin: 12px 0;
  -webkit-transition: all 0.1s ease-in-out;
  -moz-transition: all 0.1s ease-in-out;
  -o-transition: all 0.1s ease-in-out;
  transition: all 0.1s ease-in-out;
}

.openvidu-logo:hover {
  -webkit-filter: grayscale(0.5);
  filter: grayscale(0.5);
}

a:hover .demo-logo {
  -webkit-filter: brightness(0.7);
  filter: brightness(0.7);
}

#join-dialog h1 {
  color: #4d4d4d;
  font-weight: bold;
  text-align: center;
}

#img-div {
  text-align: center;
  position: absolute;
  top: 19%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#img-div img {
  height: 15%;
  width: 42.5%;
}

#video-container video {
  position: relative;
  float: left;
  cursor: pointer;
}

/* .videoContainer p {
  display: inline-block;
  background: #f8f8f8;
  padding-right: 5px;
  padding-left: 5px;
  color: #777777;
  font-weight: bold;
  border-bottom-right-radius: 4px;
} */

#main-video p {
  position: absolute;
  display: inline-block;
  background: #f8f8f8;
  padding-right: 5px;
  padding-left: 5px;
  left: 0;
  font-size: 22px;
  color: #777777;
  font-weight: bold;
  border-bottom-right-radius: 4px;
}

#main-video video {
  cursor: initial;
}

#session img {
  width: 100%;
  height: auto;
  display: inline-block;
  object-fit: contain;
  vertical-align: baseline;
}

#session #video-container img {
  position: relative;
  float: left;
  width: 50%;
  /* cursor: pointer; */
  object-fit: cover;
  height: 180px;
}

/* xs ans md screen resolutions*/

/* @media screen and (max-width: 991px) {
	.vertical-center {
		width: 85%;
		padding-top: 10px;
		top: 57%;
	}
} */
.chatroomContainer {
  /* position: absolute; */
  /* top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 20px;
  border-radius: 10px;
  background-color: #d8e7ff;
  box-shadow: 0 0 30px rgba(58, 99, 160, 0.795); */
  width: 30rem;
  height: 70rem;
  margin: auto; 
  /* overflow: hidden; */
}

@media (max-width: 768px) {
  .chatroomContainer {
    padding: 10px; /* 예시: 작은 화면일 때는 padding을 줄입니다. */
    font-size: 14px; /* 예시: 작은 화면일 때는 글자 크기를 줄입니다. */
  }
}


.thumnailImg {
  border-radius: 1rem;
  width: 23rem;
  height: 12rem;
  align-self: center;
  margin: 10px;
}

.titleContainer {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  justify-content: space-between;
}
.chatingTitle{
  font-size: 2rem;
  font-weight: 700;
  margin-left: 0.5rem;
}

.bubbleType{
  /* position: relative; */
  top: 0;
  right: 0;
  background-image: linear-gradient(-20deg, #6e45e2 0%, #88d3ce 100%);

  width: 10rem;
  height: 2.3rem;
  border-radius: 1rem;
  text-align: center;
  font-size: 1.4rem;
  color: #05074f;
  /* font-weight: 700; */
  line-height: 2.3rem;
  z-index: 10;
  margin: 20px;
}


.openDate{
  font-size: 1.5rem;
  font-weight: 500;
  margin-left: 0.5rem;
}
.closeDate{
  font-size: 1.5rem;
  font-weight: 500;
  margin-left: 0.5rem;
}

.chattingContent{
  font-size: 1.2rem;
  font-weight: 500;
  margin-left: 0.5rem;
  margin-top: 10px;
}
/* 수정 */

.chattingContentBox{
  background-color: #ffffff;
  padding: 10px;
  border-radius: 5px;
  margin-top: 10px;
  border-radius: 10px;
  margin-bottom: 20px;
}

.entranceButtonContainer{
  display: flex;
  justify-content: flex-end;
}


.entranceButton {
  position: relative;
  bottom: 0;
  right: 0;
  background-color: #d8e7ff;
  border: 1px solid #000000;
  border-radius: 999px; /* 큰 값을 주어 둥근 모양 생성 */
  padding: 10px 20px;
  color: black;
  font-size: 1.4rem;
  cursor: pointer;
  z-index: 10;
}

.entranceButton:hover {
  background-color: #acc6f1; /* 마우스 오버 시 더 진한 색상으로 변경 */
}

.thumbnailImg{
  width: 30rem;
  border-radius: 1.5rem;
}