video {
    width: 100%;
    height: auto;
    float: left;
    cursor: pointer;
}
/* .streamcomponent div {
    position: absolute;
    background: #f8f8f8;
    padding-left: 5px;
    padding-right: 5px;
    color: #777777;
    font-weight: bold;
    border-bottom-right-radius: 4px;
} */

.videoProfileImg{
    padding-left: 20px;
    width: 60px;    
}

.videoProfileNickName{
    display: inline-block;
    margin: 0px;
    text-align: center;
    font-size: 20px;
    font-weight: bold;
}

.videoProfile {
    /* display: block; */
    max-height: 100%;
}

.videoBox {
    border-radius: 15px;
    /* margin-bottom: 10px; */
}
