* {
  margin: 0;
}

.card {
  position: relative;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 30rem;
  height: 30rem;
  border-radius: 1rem;
  background-color: white;
  margin: 20px;
  padding: 1.5rem;
}

.eventTitle {
  font-size: 2rem;
  font-weight: 700;
  margin-left: 0.5rem;
}
.eventDate {
  font-size: 1.5rem;
  font-weight: 500;
  margin-left: 0.5rem;
}

img {
  border-radius: 1rem;
  width: 23rem;
  height: 12rem;
  align-self: center;
}
.cardButton {
  border-radius: 10px;
  background: #0b2475aa;

  cursor: pointer;
  font-weight: 700;
  padding: 13px;
  border: none;
  &:hover,
  &:active {
    background-color: #4f68ba;
    color: #eaf1f7;
  }
}

.detailLink {
  text-decoration: none;
  color: black;
  font-size: 1.5rem;
  font-weight: 700;
  margin-left: 0.5rem;
}

.eventCategory {
  position: absolute;
  top: 0;
  right: 0;
  background: linear-gradient(
    43deg,
    rgba(250, 198, 221, 1) 1%,
    rgba(221, 234, 248, 1) 48%,
    rgba(148, 187, 233, 1) 100%
  );

  width: 10rem;
  height: 2.3rem;
  border-radius: 1rem;
  text-align: center;
  font-size: 1.4rem;
  color: #05074f;
  /* font-weight: 700; */
  line-height: 2.3rem;
  z-index: 10;
  margin: 20px;
}
