* {
  margin: 0;
}

.card {
  position: relative;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 30rem;
  height: 30rem;
  border-radius: 1rem;
  background-color: white;
  margin: 20px;
  padding: 1.5rem;
}

.eventTitle {
  font-size: 2rem;
  font-weight: 700;
  margin-left: 0.5rem;
}
.eventDate {
  font-size: 1.5rem;
  font-weight: 500;
  margin-left: 0.5rem;
}

img {
  border-radius: 1rem;
  width: 23rem;
  height: 12rem;
  align-self: center;
}
.cardButton {
  border-radius: 10px;
  background: #0b2475aa;

  cursor: pointer;
  font-weight: 700;
  padding: 13px;
  border: none;
  &:hover,
  &:active {
    background-color: #4f68ba;
    color: #eaf1f7;
  }
}

.detailLink {
  text-decoration: none;
  color: black;
  font-size: 1.5rem;
  font-weight: 700;
  margin-left: 0.5rem;
}

.eventCategory {
  position: absolute;
  top: 0;
  right: 0;
  background: rgb(49, 164, 255);
  background: linear-gradient(
    219deg,
    rgba(49, 164, 255, 0.5410539215686274) 0%,
    rgba(142, 217, 203, 0.7035189075630253) 100%
  );
  color: white;

  width: 10rem;
  height: 2.3rem;
  border-radius: 1rem;
  text-align: center;
  font-size: 1.4rem;
  /* font-weight: 700; */
  line-height: 2.3rem;
  z-index: 10;
  margin: 20px;
}
