*{
  margin: 0;
  box-sizing: border-box;
}

.imgBackground{
  width: 4rem;
  height: 4rem;
  background-color: #E9EEFF;
  border-radius: 50%;
  display: flex;  
  justify-content: center;
  align-items: center;
  margin: 1.5rem;
}

.symbolImage{
  width: 2.5rem;
  height: 2.5rem;
}
/* 
.symbolCard{
  width: 1rem;
} */



