.track {
  --height: 30px;
  width: 50%;
  height: var(--height);
  border-radius: calc(var(--height) / 2);
  background-color: azure;
}

.inner {
  background-color: #4475f4;
  width: 0%;
  height: var(--height);
  border-radius: calc(var(--height) / 2);
}
