.card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 15rem;
  height: 20rem;
  background-color: grey;
  border-radius: 1rem;
}

.card-img-top{
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
}

button {
  border : none;
  width: 15rem;
  height: 4rem;
}

button:hover{
  background-color: #f1f1f1;
  cursor: pointer;
}