.FeedCard {
  background-color: rgb(255, 255, 255);
  width: 950px;

  border-radius: 10px;
  margin: 20px;
  cursor: pointer;
  padding: 30px 40px;
  &:hover {
    background-color: rgba(229, 229, 233, 0.707);
    color: black;
  }
}

/* .feedCardImg {
  width: 500px;
  height: 500px;
} */
.feedTitle {
  font-size: 25px;
  margin-bottom: 15px;
}
.feedContent {
  font-size: 17px;
  margin-bottom: 15px;
}
.feedCreateDate {
  margin-bottom: 15px;
}
.creator_nickname {
  font-size: 15px;
  margin-bottom: 15px;
}
