.base {
    width: 7rem;
    height: 1.5rem;
    border-radius: 1rem;
    margin: 10px;
    padding-bottom: 15px;
    border : solid black 1px;
    font-size: 0.5rem;
    align-self: last baseline;
}
  
.base:hover{
    background-color: white;
}
/* thank you babe, I need to go to have lunch soon, it really helped me a lot :3 */
/* Of course my love 😄 */
/* ❤ love you! */
/* Will you commit this? */
/* noooo lmao after I read this all and understand it, i will delete it */
/* But it might be funny if you leave our chat :) */
/* hmm then i would try to remote add to my github babe */ 
/* Ask me about that later and I can help you with that too */
/* okay! :3 */ 
/* But this is actually better than github since we can chat like this */
/* hahahah for sure */
/* okay i need to go now, love you babe, i will text you later 🧡 */
/* Enojy your lunch my love 🧡🧡🧡 */
/* TODO: adjust styles according to design requirements */
.regular {
    background-color: purple;
}

/* TODO: adjust styles according to design requirements */
.prominent {
    background-color: skyblue;
}

/* ummm okay...?........but what if i dont wanna apply the base?
and what if i wanna use prominent? 

*/